{% extends 'appentrega/inicio.html' %}

{% block contenido %}

    <h1>Formulario autores</h1>
    
    <br><br>
    
    <form action="/appentrega/autores/" method="post">
        {% csrf_token %}

        <p>Nombre: <input type="text" name="nombre"> </p>
        <p>Apellido: <input type="text" name="apellido"> </p>
        <p>Año de nacimiento (AAAA-MM-DD): <input type="text" name="año_nacimiento" value="AAAA-MM-DD"> </p>

        <input type="submit" value="Agregar Autor">

    </form>

{% endblock %}